<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>系统登陆</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/htmleaf-demo.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/logincss.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" th:action="@{/sysLogin}" method="post" th:object="${loginForm}">
                <span class="heading">用户登录</span>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="${loginForm.username}" id="username" placeholder="用户名" aria-describedby="usernameIcon" />
                    <i class="glyphicon glyphicon-user" id="usernameIcon"></i>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" th:field="${loginForm.passwd}" id="passwd" placeholder="密　码" aria-describedby="passwdIcon" />
                    <i class="glyphicon glyphicon-lock" id="passwdIcon"></i>
                </div>
                <div class="form-group">
                    <span th:text="${loginForm.reMessage}" class="red-text"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>